.profile {
  align-items: flex-start;
  color: #5b2d76;
  display: flex;
  font-family: Inter, Arial, sans-serif;
  width: 100%;
  font-size: 20px;
}

.avatar {
  border-radius: 20%;
  height: 120px;
  margin: 3.75px 26.25px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 120px;
}

.avatar:hover {
  opacity: 0.5;
  transition: 1s;
}
