.list {
  text-decoration: underline;
  font-size: 24px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.wish {
  width: 300px;
  font-size: 20px;
  background-color: #f7dbf2;
  border: 3px solid #b494c7;
  border-radius: 6px;
  color: #5b2d76;

  font-weight: bold;
}

.btn {
  width: 50px;
  font-size: 30px;
  background-color: #f7dbf2;
  border: 3px solid #b494c7;
  border-radius: 6px;
  color: #5b2d76;
  cursor: pointer;
  box-shadow: 2px 2px 4px #5b2d76;
  font-weight: bold;
}
