.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f0e9;
  color: #5b1986;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
}

.preloader sup {
  font-size: 16px;
}
